@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000000;
}

body{
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 100;
    background: #e5e5e5;
    text-align: end;
    padding-top: 15px;
}

.container{
    max-width: 375px;
    margin: 0 auto;
}

.calculadora{
    box-shadow: 0px 4px 20px rgb(0, 0, 0, 0.25);
    border-radius: 20px;
    background: #fff;
}

input[type="button"] {
    display: grid;
    width: 64px;
    height: 64px;
    justify-content: center;
    align-items: center;
    background: #eff6ee;
    border-radius: 50%;
    border: none;
    font-family: sans-serif;
    cursor: pointer;
    font-size: 36px;
    outline: none;
    transition: 0.3s;
    position: relative;
}

input[type="button"]:hover {
    background: #eff6ee;
}

input[type="buttom"]:hover.operadores-basicos {
    background: #2b3329;
}

.resultado{
    position: relative;
}

.resultado input[type="text"] {
    min-height: 100px;
    width: 375px;
    border: none;
    outline: none;
    background: lightgray;
    display: grid;
    text-align: end;
    font-size: 36px;
    font-weight: 100;
    font-family: sans-serif;
    justify-content: end;
    align-items: end;
    padding: 30px 20px 0 ;
    border-radius: 20px 20px 0 0;
}

#igual:hover {
    background: #e5e5e5;
}

.teclas {
    background-color: lightslategray;
    display: grid;
    grid-template-columns: 60px 60px 60px 60px;
    justify-content: center;
    gap: 30px;
    border-radius: 0 0 20px 20px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 15px;
}

input.operadores-basicos {
    background: #e5e5e5;
}

#igual {
    background: #e5e5e5;
}

#del {
    font-size: 25px;
}

